/* app css stylesheet */
.myapp-message-list {
}
.myapp-message-list .myapp-message {
	background: #ccc;
	width: 80%;
	border-radius: 20px;
	margin-bottom: 10px;
	position: relative;
	top: -20px;
}
.myapp-message-list p {
	margin: 0;
	white-space: pre-wrap;
}
.myapp-message-info {
	position: relative;
    top: -34px;
}
.myapp-message-info p {
	font-size: 80%;
}
.myapp-message-arrow {
	position: absolute;
	width: 0;
	height: 0;
	transform: rotate(10deg);
	bottom: -10px;
	right: 20px;
}
.myapp-message-arrow:after {
	content: "";
	position: absolute;
	border: 0 solid transparent;
	border-top: 15px solid #ccc;
	border-radius: 20px 0 0 0;
	top: -26px;
	left: 0px;
	width: 20px;
	height: 12px;
	transform: rotate(-100deg);
}
.myapp-message-arrow--left {
	left: 0;
	right: auto;
}
.myapp-message-arrow--left:after {
	border-top: none;
	border-bottom: 15px solid #ccc;
	border-radius: 0 0 0 20px;
}