<md-toolbar class="md-theme-light">
	<h2 class="md-toolbar-tools">
		<md-button ng-href="#!/chat-list">
			<md-icon>arrow_back</md-icon>
		</md-button>
		<span>Chat Details</span>
		<span flex></span>
		<md-button ng-click="null">
			<md-icon>add</md-icon>
		</md-button>
	</h2>
</md-toolbar>
<div class="myapp-message-list">
	<div ng-repeat="message in messages">
		<div ng-if="message.sender.id == user.id">
			<message-sent></message-sent>
		</div>
		<div ng-if="message.sender.id != user.id">
			<message-recieved></message-recieved>
		</div>
	</div>
</div>