<div layout="column" flex style="max-height: 100vh; min-height: 100vh;">
	<md-toolbar flex="none" class="md-theme-light">
		<h2 class="md-toolbar-tools">
			<md-button ng-href="#!/chat-list">
				<md-icon>arrow_back</md-icon>
			</md-button>
			<span>Chat Details</span>
			<span flex></span>
		</h2>
	</md-toolbar>

	<md-content flex layout-padding id="myapp-messages-content">
		<div ng-repeat="message in messages" class="myapp-message-list">
			<div ng-if="$index == 0 || messages[$index-1].createdDate != messages[$index].createdDate">
				<date-separator date="{{message.createdDate}}"></date-separator>
			</div>
			<div ng-if="message.sender.id == user.id">
				<message-sent></message-sent>
			</div>
			<div ng-if="message.sender.id != user.id">
				<message-recieved></message-recieved>
			</div>
		</div>
	</md-content>
	<span flex></span>
	<md-divider></md-divider>
	<footer flex="none">
		<div layout="row" flex="100">
			<md-input-container flex>
				<label>Send Message</label>
				<textarea name="sendMessage" ng-model="sendMessageVal"></textarea>
			</md-input-container>
			<md-button aria-label="Send" flex="none" ng-click="addMessage()" ng-disabled="!sendMessageVal.length">
				<md-icon>send</md-icon>
			</md-button>
		</div>
	</footer>
</div>